body {
    background-color: #c1c42c;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

* {
    font-family: Roboto;
}

h1, form {
    margin: 2rem;
}

h1 {
    text-align: center;
}

.form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 0.25px solid lightgray;
    border-radius: 5px;
    padding: 1rem 0.5rem;
}

.input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-wrapper > *, #dropdown-menu {
    display: block;
    width: 50%;
}

.input-wrapper > label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input, #dropdown-menu {
    border: 0;
    border-radius: 5px;
    padding: 1rem 10px;
}

#dropdown-menu {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}

.addresses-list {
    display: flex;
    flex-direction: column;
}

.address {
    border-radius: 5px;
    font-size: 0.85rem;
    padding: 1rem;
    color: #808080;
}

.address:hover {
    background-color: rgb(136, 136, 136);
    color: white;
    cursor: pointer;
}

#error-message {
    display: none;
    color: red;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.5rem;
}

.spinner {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}