body {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-content: center;
}
.drum-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-width: 1em;
    margin: 1.5vw;
    border-radius: 50%;
    vertical-align: middle;
    transition: all 0.07s;
}
.drum-item:before {
    content:'';
    float: left;
    width: auto;
    padding-bottom: 100%;
}
.drum-item p {
    text-align: center;
    padding: 0.25em;
}
.selected {
    border: 5px solid gold;
    transform: scale(1.1);
}